.portfolio-too-small {
  display: none;
}

/* .navigation-bar {
  height: 66px;
  width: 100vw;
  position: fixed;
  background: #252523;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px black;
  align-items: center;
  z-index: 9999;
} */

.name-text {
  width: 180px;
  margin: 0 auto;
  /* align-items: center; */
  /* justify-content: center; */
  /* position: absolute; */
  /* left: 382px;   */
  font-size: 2em;
  color: #dfd8c8;

}

#outer-container {
  width: 100vw;
  background: #a39274;
}

#inner-container {
  height: 200vh;
  background: #a39274;
  /* margin: 0 auto; */
}

@media (max-width: 72px) {
  #outer-container {
    display: none;
  }
}

@media (min-width: 73px) and (max-width: 359px) {
  #outer-container {
    height: 100vh;
    align-items: center;
    display: flex;
  }

  .portfolio-too-small {
    height: 35px;
  }

  #inner-container {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 599px) {
  #inner-container {
    width: 100vw;
  }

  /* .navigation-bar {
    height: 55px;
    width: 100vw;
  } */

  .name-text {
    position: relative;
    left: 21px;
  }
}

@media (min-width: 600px) and (max-width: 954px) {
  #inner-container {
    width: 100vw;
  }
}

@media (min-width: 955px) and (max-width: 1279px) {
  .ham-icon {
    display: none;
  }

  .name-text {
    position: relative;
    right: 110px;
  }

  #inner-container {
    width: 956px;
  }
}

@media (min-width: 1280px) {
  .ham-icon {
    display: none;
  }

  .name-text {
    position: relative;
    right: 93px;
  }

  #inner-container {
    width: 1280px;
  }
}
