#experience-container {
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

#experience-container h2 {
  margin: 35px 0 20px 0;
  font-size: 1.7em;
  background: #a39274;
}

#cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card ul {
  padding-left: 50px;
  list-style-type: disc;
}

.card ul li {
  margin: 7px 0;
}

.card div {
  display: flex;
  justify-content: space-between;
}

.text {
  margin: 5px;
}

.xp-position {
  font-weight: 600;
}

.xp-company {
  color: rgb(83, 83, 83);
}

.xp-dates {
  font-weight: 100;
  color: rgb();
}

#resume-btn {
  margin-top: 15px;
  background: none;
  border: 2px solid;
  padding: 10px;
}

.card {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.125);
  box-shadow: 3px 3px rgb(83, 83, 83);
  border-radius: 0.2rem;
}

@media (min-width: 360px) and (max-width: 599px) {
  #experience-container {
    height: 900px;
  }
}

@media (min-width: 955px) and (max-width: 1279px) {
  .card {
    width: 800px;
  }
}

@media (min-width: 1280px) {
  .card {
    width: 800px;
  }
}
