@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

#skills-container {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #b4a282;
}

#skills-container h2 {
  font-family: "Lora", serif;
}

#skills-container h2 {
  font-size: 1.7em;
  margin: 35px 0 20px 0;
}

#react-logo-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#react-text {
  position: relative;
  bottom: 10px;
}

#logos-container {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-logo-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.skill-logo {
  max-width: 75px;
  max-height: 75px;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

@media (min-width: 955px) and (max-width: 1279px) {
  #logos-container {
    width: 900px;
  }
}

@media (min-width: 1280px) {
  #logos-container {
    width: 900px;
  }
}
