.content {
  z-index: 0;
  justify-content: space-around;
  color: #dfd8c8;
}

#link {
  position: relative;
  min-width: 80px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 360px) and (max-width: 599px) {
  #link {
    min-width: 400px;
    z-index: -2;
  }
}

@media (min-width: 600px) and (max-width: 954px) {
  #link {
    top: 70px;
    min-width: 400px;
    z-index: -2;
  }
}

@media (min-width: 955px) and (max-width: 1279px) {
  .content {
    display: flex;
    width: 500px;
  }
}

@media (min-width: 1280px) {
  .content {
    display: flex;
    min-width: 500px;
  }
}
