@media (min-width: 73px) and (max-width: 359px) {
  .menu {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 599px) {
  .hidden,
  .active {
    margin: 1em;
    width: 40px;
  }

  .active:before,
  .active:after,
  .active div,
  .hidden:after,
  .hidden:before,
  .hidden div {
    background-color: #fff;
    border-radius: 3px;
    content: "";
    display: flex;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
  }

  .active:before {
    transform: translateY(12px) rotate(135deg);
  }

  .active:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .active div {
    transform: scale(0);
  }

  .menu-container {
    height: 66px;
    width: 460px;
    position: fixed;
    /* right: 10px; */
    top: -5px;
    flex-direction: row-reverse;
    display: flex;
  }

  .menu {
    height: 5em;
    width: 332px;
    /* background: teal; */
    display: block;
    align-items: center;
    transform: translate(500px, 0);
    transition: 1s;
  }

  .show {
    transform: translate(5px, 0px);
    transition: 1s;
    width: 332px;
  }

  #link {
    background: violet;
    position: relative;
    top: 70px;
    min-width: 400px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
}

@media (min-width: 600px) and (max-width: 954px) {
  .hidden,
  .active {
    margin: 1em;
    width: 40px;
  }

  .active:before,
  .active:after,
  .active div,
  .hidden:after,
  .hidden:before,
  .hidden div {
    background-color: #fff;
    border-radius: 3px;
    content: "";
    display: flex;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
  }

  .active:before {
    transform: translateY(12px) rotate(135deg);
  }

  .active:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .active div {
    transform: scale(0);
  }

  .menu-container {
    height: 66px;
    width: 518px;
    position: fixed;
    /* right: 10px; */
    top: -5px;
    flex-direction: row-reverse;
    display: flex;
  }

  .menu {
    height: 5em;
    width: 332px;
    display: block;
    /* align-items: center; */
    transform: translate(700px, 0px);
    transition: 1s;
  }

  .show {
    transform: translate(5px, 0px);
    transition: 1s;
    width: 332px;
  }
}


@media (min-width: 955px) and (max-width: 1279px) {
  .menu{
    width: 300px;
  }
}


@media (min-width: 1280px) {
  .menu{
    width: 500px;
  }
}

