#link {
  background: #252523;
  color: #dfd8c8;
  position: relative;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  z-index: -1;
}

@media (min-width: 73px) and (max-width: 359px) {
  .menu {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 599px) {
  .hidden,
  .active {
    margin: 1em;
    width: 40px;
  }

  .active:before,
  .active:after,
  .active div,
  .hidden:after,
  .hidden:before,
  .hidden div {
    background-color: #a39274;
    border-radius: 3px;
    content: "";
    display: flex;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
  }

  .active:before {
    transform: translateY(12px) rotate(135deg);
  }

  .active:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .active div {
    transform: scale(0);
  }

  .menu-container {
    height: 66px;
    width: 460px;
    position: fixed;
    top: -10px;
    display: flex;
    z-index: -2;
  }

  .menu {
    height: 5em;
    width: 332px;
    display: block;
    align-items: center;
    transform: translate(-720.5px, -6px);
    transition: 1s;
    z-index: -200;
  }

  .show {
    transform: translate(-72.5px, -6px);
    transition: 1s;
    width: 332px;
    z-index: -200;
  }

  #link {
    top: 70px;
    min-width: 100vw;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    z-index: -1;
  }
}

@media (min-width: 600px) and (max-width: 954px) {
  .hidden,
  .active {
    margin: 1em;
    width: 40px;
  }

  .active:before,
  .active:after,
  .active div,
  .hidden:after,
  .hidden:before,
  .hidden div {
    background-color:#a39274;
    border-radius: 3px;
    content: "";
    display: flex;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
  }

  .active:before {
    transform: translateY(12px) rotate(135deg);
  }

  .active:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .active div {
    transform: scale(0);
  }

  .menu-container {
    height: 66px;
    width: 460px;
    position: fixed;
    top: -5px;
    display: flex;
    z-index: -2;
  }

  .menu {
    height: 5em;
    width: 332px;
    display: block;
    align-items: center;
    transform: translate(-720.5px, 0px);
    transition: 1s;
    z-index: -200;
  }

  .show {
    transform: translate(-72.5px, 0px);
    transition: 1s;
    width: 332px;
    z-index: -200;
  }

  #link {
    top: 70px;
    min-width: 50vw;
  }
}


@media (min-width: 955px) and (max-width: 1279px) {
  .menu{
    width: 300px;
  }

  #link {
    border: none;
  }
}


@media (min-width: 1280px) {
  .menu{
    width: 500px;
  }

  #link {
    border: none;
  }
}

