#biography-container {
  display: flex;
  flex-direction: column;
}

#biography-container h2 {
  font-size: 1.7em;
  align-self: center;
  margin: 35px 0 20px 0;
}

.biography-text {
  padding: 20px;
}

@media (min-width: 955px) {
  #biography-container {
    width: 500px;
  }
}
